
<!DOCTYPE html>
<html lang="<%=config.language%>">
<%-partial('partials/head')%>

<body>
  <div id="mini_button">
    <div id="mini_button_inner"></div>
  </div>
  <div id="mini_box">
    <div id="mini_list"></div>
  </div>
  <div id='fkIOS'  class="abs" style="display:none;">
    <div class="abs" style=" top:400px; left:150px; width:450px; height:220px; background-color:#FFF; text-align:center; color:#333; font-size:30px; border-radius:15px; padding-top:40px;font-family:Arial, Helvetica, sans-serif">
        摇一摇需要授权使用<br>请点击<strong>允许</strong>
        <br>
        <br>
        <div class="abs" type="button" style="width:210px; left:120px; color:#333; background:#E2E2E2; border-radius:10px; line-height:60px; height:60px;font-size:34px;font-family:Arial, Helvetica, sans-serif" onclick="ios13granted();">允许</div>
    </div>
  </div>

  <div class="nav-container">
    <%-partial('partials/nav')%>
  </div>

  <div class="container" id="content-outer">
    <div class="inner" id="content-inner">
      <%- body %>
    </div>

    <% if (page.total > 1){ %>
      <nav class="page-nav text-center">
          <%- paginator({
            prev_text: '〈',
            mid_size: 1,
            next_text: '〉'}) %>
      </nav>
    <% } %>

  </div>
  <%-partial('partials/footer')%>
  <%-partial('partials/scripts')%>
  <%-partial('partials/analytics') %>
  <%-partial('partials/baidu_url_js_push') %>
</body>
</html>
